@media screen and (max-width: 576px) {

    .nav-header,
    .logo-icon {
        flex-direction: column;
    }

    .nav-header {
        margin-bottom: 10px;
    }
    /* heading part  */
    .heading-part{
        font-size: 32px;
        font-weight: 700px;
    }
    /* content-part2 */
    .content-part2{
        font-size: 18px;
        font-weight: 400px;
        margin-top: 20px;
        align-items: start;
        justify-content: start;
        

    }
    .logo-icon,
    .btn-primary {
        gap: 5px;
    }

    .item-container {
        gap: 5px;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin: 0 auto;
    }
    /* .btn-secondary */
    .btn-secondary{
        padding: 10px 20px;
    }

    /* main part start from here */
    .main-first-part {
        flex-direction: column;
        align-items: center;
    }


    /* .header-part2 */
    .header-part2{
        font-size: 24px;
        font-weight: 700px;
        margin-top: 40px;
    }
    /* image part */
    .image-part1 {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .image-part1 img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: auto;
    }

    /* text header part from here */
    .content-part1 {
        order: 2;
        margin-left: 0px;
        align-items: center;
        text-align: center;
        font-size: 32px;
    }

    /* paragraph part   */
    .content-part2 {
        font-size: 20px;
    }

    /* main second part */
    .card-container {
        flex-direction: column;
        gap: 15px;
    }
    
    .arrow-icon {
        visibility: hidden;
        margin-top: 0px;
    }


    /* main third part  */

    .main-third-part {
        height: auto;
        padding-bottom: 20px;
        /* margin-top: 40px; */
    }

    .main-third-container {
        width: 100%;
        margin: 0 auto;
        margin-top: 12px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        justify-items: center;
        gap: 8px;

    }

    /* main-third-part header-part3 */

    .container1 {
        display: none;
    }

    .container2,
    .container3,
    .container4,
    .container5 {
        width: 173px;
        height: auto;
        grid-column: auto;
        grid-row: auto;
    }

    .date1,
    .date2,
    .date3,
    .date4,
    .date5 {
        width: 110.91px;
        height: 30.83px;
        border-radius: 28.54px;
        background: rgba(149, 178, 38, 1);
        font-size: 10px;
        font-size: 10px;
        padding: 4px 6px;
    }

    .third1,
    .third2,
    .third3,
    .third4,
    .third5 {
        font-size: 10px;
    }

    .main-third-container h3 {
        font-size: 10px;
        margin: 6px;
        padding-top: 6px;
        line-height: 1.2;
    }

    /*  button part start here */
    .button-section-third {
        margin-top: 30px;

    }

    /* footer part start from here */
    .footer-parents {
        flex-direction: column;
        height: auto;
        padding: 20px;
        gap: 20px;
    }

    .footer-parents>div {
        width: 100%;
    }

    /* footer1 */
    .child-footer1 {
        font-size: 15px;
        font-weight: 400px;
    }

    /* image icon */
    .icon1 {
        width: 70px;
        height: 70px;
    }

    /* heading */
    .footer-heading {
        font-size: 20x;
        font-weight: 500px;
        padding: 5px;
        width: 5px;
        height: 80px;
    }

    /* child footer */
    .child-footer1 {
        font-size: 15px;
        font-weight: 400px;
    }

    /* footer 2  */
    .child-footer2 {
        /* display: block; */
        /* flex-direction: column; */
        align-items: start;
        justify-content: start;
        text-align: start;
    }

    /* footer paragraph part 2 */
    .footer2-paragraph li {
        margin-left: 0px;
        text-align: start;
        font-size: 18px;
        font-weight: 400px;
        margin-top: 10px;

    }

    /* footer 3 part start from here */
    .child-footer3 {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 20px;
        margin-bottom: 30px;
    }

}