@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif;
}

.nav-header {
    /* border: 2px solid red; */
    max-width: 1250px;
    align-items: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.logo-icon {
    display: flex;
    align-items: center;
    width: 30%;

}

.logo-icon p {
    font-size: 32px;
    font-weight: 700px;
}

.item-container {
    /* border: 2px solid blue; */
    width: 30%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-left: 70px;

}

.item-container a {
    text-decoration: none;
    gap: 32px;
    font-size: 20px;
    font-weight: 700px;

}

.btn-primary {
    background-color: #FEA301;
    color: white;
    font-weight: 700px;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 40px;

}

.btn-primary a {
    text-decoration: none;
}

/* Ensure the text inside btn-primary is vertically centered in the nav */
.btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-primary a {
    display: block; 
    color: inherit;
}

/* main part start from here  */
.main-first-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

/* Heading part   */
.heading-part {
    font-size: 56px;
    font-weight: 700px;
}

/* use for two word  */
.chang1 {
    color: #01ACFD;
}

/* content part1  */
.content-part1 {
    margin-left: 130px;
    align-items: center;
    margin-top: 10px;
}

.content-part2 {
    font-size: 20px;
    font-weight: 400px;
}

/* button part work  */
.btn-secondary {
    background-color: black;
    color: white;
    font-weight: 700px;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 40px;
    margin-top: 20px;
}

/* image-part1  */
.image-part1 {
    margin: 0 auto;
    text-align: center;
}


/* Main part from here  */
.header-part2 {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}




/* main second part */
/* Card 1 part start from here second*/
.main-second-part {
    background-image: url("./assets/bg.png");

}

/* Parents Card  */
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    /* padding: 100px 140px; */

}

/* Image part for every card */

.card1 {
    width: 367px;
    height: 460px;
    background-color: aquamarine;
    padding: 30px;
}

.header-card1,
.text-card1 {
    padding-top: 33px;
}

.card1 .btn2 {
    padding-top: 60px;
    display: inline-block;
}

/* for boxshadow  */
.card1 {
    box-sizing: border-box;
    border: 0.94px solid rgba(222, 245, 255, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(222, 245, 255, 1), rgba(255, 255, 255, 0) 40%), rgba(255, 255, 255, 1);
}

/* for card two */
.card2 {
    box-sizing: border-box;
    border: 0.94px solid rgba(255, 244, 220, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(255, 244, 220, 1), rgba(255, 255, 255, 0) 40%), rgba(255, 255, 255, 1);
}

/* for card three */
.card3 {
    box-sizing: border-box;
    border: 0.94px solid rgba(242, 232, 255, 1);
    border-radius: 18.86px;
    box-shadow: inset 0px 0px 28.29578971862793px 0.94px rgba(0, 0, 0, 0.05);
    background: linear-gradient(180.00deg, rgba(238, 225, 255, 1), rgba(255, 255, 255, 0) 40%), rgba(255, 255, 255, 1);
}

/* for button part one */
.r1 {
    color: rgba(100, 200, 255, 1);
}

/* for button two */
.r2 {
    color: rgba(240, 170, 0, 1);
}

/* for button three */
.r3 {
    color: rgba(135, 0, 255, 1);
}

/* less and grater */
.arrow-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    /* margin-bottom: 30px; */
    margin-top: 40px;

}

/* first part arrow  */
.first-arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(254, 163, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: white;

}

/* second arrow  also inside flex*/
.second-arrow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(254, 163, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
}

/* icon1 and icon2 */
.icon1,
.icon2 {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* main third part */
.main-third-part {
    /* stories */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    width: 100%;
    height: 1018.02px;
    /* margin-top: 10px; */
   background: url("./assets/bg.png"), linear-gradient(0deg, rgba(254,163,1,0.3), rgba(255,255,255,0.3));
}

/* main 3rd header part */
.header-part3 {
    align-items: center;
    text-align: center;
    justify-content: center;

}

.main-third-container {
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    /* padding: 190px 140px 190px 140px; */
    width: 1140px;
    margin: 0 auto;
    gap: 20px;
    margin-top: 100px;
}

.main-third-container img {
    width: 100%;
    height: 100%;
}

/* for container1 img */
.container1 {
    height: 630px;
    width: 540px;
}


/* for container div 1 */
.container1 {
    grid-column: 1/span 6;
    grid-row: 1/span 4;
}

/* for container1  */

.date1 {
    border-radius: 47.93px;
    background: rgba(60, 216, 232, 1);

}

/* third1 part  */
.third1 {
    margin-top: 25px;
    font-size: 24px;
    font-weight: 700px;
}

.text-container1 {
    color: #666666;
    margin-top: 30px;
}

.container2 {
    grid-column: 7/span 3;
    grid-row: 1/span 2;
    gap: 5px;

}

/* label part */
.date2 {
    border-radius: 47.93px;
    background: rgba(149, 178, 38, 1);
}

/* container3 */
.container3 {
    grid-column: 10/span 3;
    grid-row: 1/span 2;
    gap: 5px;

}

/* button part */
.date3 {
    border-radius: 47.93px;
    background: rgba(93, 88, 240, 1);
}

/* container4 */
.container4 {
    grid-column: 7/span 3;
    grid-row: 3/span 2;
    width: 290.69px;
    height: 301.61px;
}

/* container button 4 */
.date4 {
    border-radius: 47.93px;
    background: rgba(149, 178, 38, 1);
}

/* container5 */
.container5 {
    grid-column: 10/span 3;
    grid-row: 3/span 2;
}

/* button part */
.date5 {
    border-radius: 47.93px;
    background: rgba(149, 178, 38, 1);
}

/* .container1, .container2, .container3, .container4, .container5 */
.container1,
.container2,
.container3,
.container4,
.container5 {
    overflow: hidden;
    border-radius: 16px;
    background: white;

}

/* for height and with */
.container2,
.container3,
.container4,
.container5 {
    overflow: hidden;
    border-radius: 16px;
    background: white;
    width: 290px;
    height: 300px;
}

/* button-section-third this button part */
.button-section-third {
    margin-top: 70px;

}

.btn3 {
    background: black;
    color: white;
    padding: 10px;
    border-radius: 12px;
    width: 150px;
}


/* footer part  */
.footer-parents{
    background-color: #01ACFD;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 519px;
    /* width: 100%; */
    padding: 200px 288px 175px 141px;
}



/* for marking area use this footer-parents div */
.footer-parents>div{
    /* border: 1px solid blue; */
    width: 30%;
}
/* footer part 1  */
.marge-footer1{
    display: flex;
    align-items: center;
    
}
/* heading image part */
.icon1{
    width: 95px;
    height: 95px;
    
}
/* heading part */
.footer-heading{
    font-size: 32x;
    font-weight: 500px;
    padding: 10px;
    width: 10px;
    height: 110px;
}
/* child-footer1 footer part */
.child-footer1{
    font-size: 18px;
    font-weight: 400px;
    margin-top: 25px;
    margin-left: 7px;   
}

/* footer 2 part start from here */
.child-footer2{
    /* display: block; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: fit-content;
    width: fit-content;
}
/* paragraph part footer2 */
.footer2-paragraph li{
    list-style: none;
    margin-left: 100px;
    text-align: start;
    margin-bottom: 6px;
    font-size: 18px;    
    font-weight: 400px;
    margin-top: 10px;

}
.footer2-heading{
    /* margin-bottom: 30px; */
    font-size: 25px;
    font-weight: 700px;
}


/* footer3 part from here */
.child-footer3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 50px;
}
/* footer3-heading  */
.footer3-heading{
    font-size: 19px;
    font-weight: 500;
}
/* icon part work from here */
.footer3-icon img{
    width: 40px;
    height: 40px;
}